.overview-table {
    width: 99%;
    table-layout: fixed;
    word-wrap: break-word;
    margin-top: 50px;
    border: 2px solid black;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    counter-reset: rowNumber;
}

.overview-row {
    counter-increment: rowNumber;
}

.overview-table .overview-row td:first-child::before {
    content: counter(rowNumber);
}

.overview-table tr.overview-header {
    background-color: darkgrey;
}

.overview-table-caption {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.overview-table th,
.overview-table td {
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
}

.overview-table td ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
}

.overview-table th.col-number,
.overview-table td.col-number {
    text-align: center;
    width: 5%;
}

.overview-table th.col-dish,
.overview-table td.col-dish {
    text-align: center;
    width: 10%;
}

.overview-table th.col-type,
.overview-table td.col-type {
    text-align: center;
    width: 10%;
}

.overview-table th.col-ingr,
.overview-table td.col-ingr {
    width: 15%;
}

.overview-table th.col-img,
.overview-table td.col-img {
    width: 20%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.overview-table th.col-rec,
.overview-table td.col-rec {
    width: 38%;
}

.table-ing-item {
    padding-top: 3px;
    padding-bottom: 3px;
}

.table-url-item {
    padding-top: 10px;
    padding-bottom: 10px;
}